language: php
dist: trusty

matrix:
  include:
    - php: 5.3
      dist: precise
    - php: 5.4
    - php: 5.5
      env: COVERAGE=true
    - php: 5.6
    - php: 7.0
    - php: 7.1
    - php: 7.2
    - php: hhvm

install:
  - composer install

before_script:
  - vendor/bin/http_test_server > /dev/null 2>&1 &
  - if [[ "$COVERAGE" = true ]]; then PHPUNIT_FLAGS="--coverage-clover build/coverage.xml"; else PHPUNIT_FLAGS=""; fi

script:
  - vendor/bin/phpunit $PHPUNIT_FLAGS

after_success:
  - if [[ "$COVERAGE" = true ]]; then wget https://scrutinizer-ci.com/ocular.phar; fi
  - if [[ "$COVERAGE" = true ]]; then php ocular.phar code-coverage:upload --format=php-clover build/coverage.xml; fi
